body {
    background: linear-gradient(90deg, rgb(235, 231, 238), rgb(202, 168, 230), rgb(211, 166, 241));
}
.about{
    background: linear-gradient(90deg, rgb(225, 203, 247), rgb(220, 160, 255));
}
#main_nav {
    max-width:410px;
    width:30%;
    height:100%;
    position: fixed;
    top: 0;
    background: linear-gradient(90deg, rgb(235, 231, 238), rgb(228, 195, 250));
    z-index: 1;
}

.navimg
{
    width:23%;
    max-width:70px ;
    min-width: 50px;
    background-color: rgb(240, 208, 255);
    position: fixed;
    top:0;
    border: solid 0px;
    border-radius: 10px;
    z-index: 2;
}
.cont{
    margin-top: 30%;
}
.nav_list{
    margin-top: 15%;
    border: px solid #e5c0c0;
    border-radius: 8px;
    background: linear-gradient(90deg, rgb(225, 203, 247), rgb(220, 160, 255));
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 123%;
    padding: 16px 8px;
    color:blueviolet;
}
.nav_list:hover {
    cursor: pointer;
    border: 1px solid rgb(225, 203, 247)
}
a{
    text-decoration: none;
}
.home_front1{
    width:100%;
    height: 100%;
}
.imgok{
    position:fixed;
    height:100%;
    width: fit-content;
    top:0;
    z-index: -1;
}
.head2{
    display: flex;
    justify-content: flex-start;
    gap:2%;
    margin-top: 10%;
    padding-left: 10%;

}
.sechead{
    font-size: 4vw;
}
#appear ,#appear2{
    color:blueviolet;
}
.head{
    margin-top:10%;
    font-size: 7vw;
}
.para{
    margin-top: 5%;
    font-size: 2.5vw;
}
.picdata{
    margin-top: 5%;
    display: flex;
    margin-bottom: 18%;
}
.mypic{
    height:500px;
    width:auto;
}
#abouth2{
    margin-top: 5%;
    margin-bottom:4%;
    font-size: 4vw;
}
.aboutpara{
    font-size: 2.5vw;
}
#skill {
    position: relative;
    background: linear-gradient(90deg, rgb(225, 203, 247), rgb(220, 160, 255));
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
}
.skillbox {
    height: 37%;
    width: 40%;
    background: linear-gradient(rgba(243, 229, 252, 0.959), rgb(188, 132, 252));
    max-width: 300px;
    max-height: 250px;
    border:1px solid rgb(225, 188, 250);
    border-radius: 20px;
    box-shadow: 5px 2px 10px rgb(177, 69, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.skillcont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin-left: 15%;
    gap:40px;
}
.logo{
    height: 10vw;
    width:10vw;
}

.logo2{
    height: 10vw;
    width:10vw;
}
.logo1{
    height: 10vw;
    width:33vw;
}
#box1.skillbox:hover{
    box-shadow: 0 0  35px violet;
}
#box2.skillbox:hover{
    box-shadow: 0 0  35px violet;
}
#box3.skillbox:hover{
    box-shadow: 0 0  35px violet;
}
#box4.skillbox:hover{
    box-shadow: 0 0  35px violet;
}
.skillh2{
    margin-top: 4%;
    color:rgb(42, 36, 49);
    font-weight: bold;
    font-size: 4vw;
}
.certbox{
    height:250px;
    width:40%;
    margin-left:28%;
    margin-top: 4%;
    border:solid 7px rgb(218, 183, 247);
    box-shadow: 0 0 35px rgb(218, 183, 247);
    border-radius: 20px ;
}
.certcont{
    
    position: relative;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
.certimg{
    height:100%;
}
.certbox:hover{
    border:solid 10px rgb(224, 179, 224);
    cursor:pointer;
}
.contact{
    position: relative;
    background: linear-gradient(90deg, rgb(225, 203, 247), rgb(220, 160, 255));
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.contactpara{
    color:aliceblue;
    font-size: 3vw;

}

.socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25%;
    gap:10px;
    margin-top: 6%;
    color:#121212;
    font-size: 2.5vw;
}
.socials:hover{
    color:rgb(71, 3, 114);
}
.imgsocial{
    height:5vw;
}
.war{
    background-color: rgb(247, 247, 50);
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius:10px ;
    position: sticky;
    top:0;
    gap:20px;
}
.warn{
    margin-top: 14px;
}
.warny{
    width:25px;
    height:25px;
}
@media screen and (max-width:480px){
    .mypic{
        height:40vh;
    }
    .picdata{
        display: flex;
        flex-direction: column;
    }
    .frontp{
        font-size: 4.2vw;
    }
    .sechead{
        font-size:5vw;
    }
    .head{
        font-size: 8vw;
    }.navimg{
        height:6vh;
        width:6vw;
    }
    #main_nav{
        width:60vw;
    }
    .nav_list{
        font-size: 4.3vw;
    }
    #abouth2{
        font-size: 6vw;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .aboutpara{
        font-size: 4.3vw;
    }
    .skillh2{
        font-size: 6vw;
        margin-top: 10%;
    }
    .certimg{
        height:14vh;
        width:37vw;
    }
    .certbox{
        height:auto;
        width:auto;
        margin-left: 0px;
        display: flex;
        justify-content: center;
    }
    .cercont{
        display: flex;
        justify-content: center;
    }
    code{
        font-size: 3.6vw;
    }

}